<div id="<%= dom_id article %>">
  <div>
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= article.body %>
  </div>
  
  <div>
    <strong>Is archived:</strong>
    <%= article.is_archived %>
  </div>

  <div>
    <strong>Reports count:</strong>
    <%= article.reports_count %>
  </div>

  <div>
    <strong>User:</strong>
    <%= article.user_id %>
  </div>

</div>
