<h1><%= @article.title %></h1>

<% if @article.image.attached? %>
  <%= image_tag @article.image, style: "max-width: 200px; max-height: 300px;" %>
<% end %>

 <p><%= render @article %></p>

<% if user_signed_in? && @article.user == current_user %>
  <%= link_to "Edit", edit_article_path(@article) %> 
  <br/>
  <br/>
  <%= button_to "Destroy", @article, method: :delete %>
   <br/>
   <br/>
<% elsif user_signed_in? %>
  <%= button_to "Report Article", report_article_path(@article), method: :post %>
<% end %>


